{% include 'sidebar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <div class="content">
        <h1>Book a Room</h1>
        <hr>
        <form action="{% url 'roomFinder_app:make_res' %}" method="post">
            {% csrf_token %}
            {% for msg in messages %}
                {% if msg.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissile" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        {{ msg }}</div>
                {% endif %}
            {% endfor %}
            <fieldset style="margin-top:50px">
                <div class="form-group; width:250px">
                    <label for="title" class="form-label">Title: </label>
                    <input type="text" id="title" name="title" class="form-control">
                </div>
                 <div class="form-group; width:250px">
                    <label for="building" class="form-label">Building: </label>
                    <input type="text" id="building" name="building" class="form-control">
                </div>
                <div class="form-group; width:250px">
                    <label for="room_name" class="form-label">Room Number: </label>
                    <input type="text" id="room_name" name="room_name" class="form-control">
                </div>
            </fieldset>
            <fieldset style="margin-top:50px">
                <div class="form-group; width:250px">
                    <label for="start_time" class="form-label">Start Time: </label>
                    <input type="time" id="start_time" name="start_time" class="form-control">
                </div>
                <div class="form-group; width:250px">
                    <label for="end_time" class="form-label">End Time: </label>
                    <input type="time" id="end_time" name="end_time" class="form-control">
                </div>
                <div class="form-group; width:250px">
                    <label for="day" class="form-label">Day: </label>
                    <select id="day" name="day" class="form-select">
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
            </fieldset>
            <input type="submit" class="btn btn-outline-primary mt-3" value="Submit">
        </form>
    </div>
</body>
</html>