<!--{% load socialaccount %}-->
<!--<html>-->
<!--<body>-->
<!--<h1>roomFinder</h1>-->
<!--{% if user.is_staff %}-->
<!--    <p>You are an admin! You are logged in as {{ user.username }}. Your email is {{ user.email }}.</p>-->
<!--    <a href="{% url 'account_logout' %}">Log Out</a>-->
<!--{% elif user.is_authenticated %}-->
<!--  <p>Welcome, You are logged in as {{ user.username }}. Your email is {{ user.email }}.</p>-->
<!--    <a href="{% url 'account_logout' %}">Log Out</a>-->
<!--{% else %}-->
<!--    <a href="{% provider_login_url 'google' %}">Login With Google</a>-->
<!--{% endif %}-->


<!--</body>-->
<!--</html>-->
<html>
  <head>
    <title>Simple Map</title>
    <link type="text/css" href="style.css" />

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3KKFuePsefgmgXPsYzqD2SFydD_rlUIM&callback=initMap&libraries=maps,marker&v=beta">
    </script>

    <script>
      function initMap() {
        console.log('Maps JavaScript API loaded.');
      }
    </script>

  </head>
  <body>
    <gmp-map center="37.4220656,-122.0840897" zoom="10" map-id="DEMO_MAP_ID"></gmp-map>
  </body>
</html>