{% load socialaccount %}
{% load static %}
{% load auth_extras %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'roomFinder_app/style.css' %}" />

    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3KKFuePsefgmgXPsYzqD2SFydD_rlUIM&callback=initMap&libraries=maps,marker&v=beta">
    </script>

    <script>
      function initMap() {
        console.log('Maps JavaScript API loaded.');
      }
    </script>
</head>
<body>
  <h1>roomFinder</h1>
  {% if request.user|has_group:"admin" %} 
    <p>You are an admin! You are logged in as {{ user.username }}. Your email is {{ user.email }}.</p>
    <a href="{% url 'account_logout' %}">Log Out</a>
    <gmp-map center="38.0336, -78.5080" zoom="16" map-id="aca56ed0ca45d249" style="width: 700px; height: 400px;"></gmp-map>
    <a href="{% url 'roomFinder_app:reservation_list'%}">View Reservations</a>
  {% elif user.is_authenticated %}
    <p>Welcome, You are logged in as {{ user.username }}. Your email is {{ user.email }}.</p>
    <a href="{% url 'account_logout' %}">Log Out</a>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="/static/roomFinder_app/style.css" />
    <script type="module" src="/static/roomFinder_app/index.js"></script>

    <div id="map" style="width: 700px; height: 400px;" ></div>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
    ({key: "AIzaSyD3KKFuePsefgmgXPsYzqD2SFydD_rlUIM", v: "weekly"});</script>
<!--        <a href="{% url 'roomFinder_app:map'%}">Find rooms near me!</a>-->
        <a href="{% url 'roomFinder_app:create_reservation'%}">Book my study room!</a>
    <h3>Rooms</h3>
        {% if room_list %}
            <ul>
               {% for room in room_list %}
                    <li><a href="{% url 'roomFinder_app:room_detail' room.id %}">{{ room.room_name }}</a></li>
               {% endfor %}
            </ul>
        {% else %}
            <p>No rooms available</p>
        {% endif %}
    <a href="{% url 'roomFinder_app:reservation_list'%}">View Reservations</a>
  {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
  {% endif %}

</body>
</html>