{% extends 'sidebar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block admin-content %}
<div class="content">
<h2>Your Reservations</h2>
{% if reservation_list %}
    <ul>
       {% for reservation in reservation_list %}
            <li><a href="{% url 'roomFinder_app:reservation_detail' reservation.id %}">{{ reservation.title }}</a></li>
       {% endfor %}
    </ul>
{% else %}
    <p>No reservations made</p>
{% endif %}
</div>
{% endblock admin-content %}

{% block user-content %}
<div class="content">
<h2>Your Reservations</h2>
{% if reservation_list %}
    <ul>
       {% for reservation in reservation_list %}
            <li><a href="{% url 'roomFinder_app:reservation_detail' reservation.id %}">{{ reservation.title }}</a></li>
       {% endfor %}
    </ul>
{% else %}
    <p>No reservations made</p>
{% endif %}
    </div>
{% endblock user-content %}
</body>
</html>