{% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>Title: {{ reservation.title }}</h1>
    <p>User: {{ reservation.user }}</p>
    <p>Room: {{ reservation.room }}</p>
    <p>Day: {{ reservation.day }}</p>
    <p>Start Time: {{ reservation.start_time }}</p>
    <p>End Time: {{ reservation.end_time }}</p>
    {% if request.user|has_group:"admin" %}
        <a href="{% url 'roomFinder_app:delete_reservation' reservation.id %}">Delete</a>
    {% endif %}
    <a href="{% url 'roomFinder_app:reservation_list'%}">Back to Reservations</a>
</form>
</body>
</html>